<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="ark.applauncher.v2"
    Publisher="CN=Lemondeath"
    Version="2.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="3021032e-eef6-43c5-aa31-2f7a60fa9079" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FinalUWP</DisplayName>
    <PublisherDisplayName>ARK Software, IRC</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="FinalUWP.App">
      <uap:VisualElements
        DisplayName="ARK Application Launcher (UWP v2)"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent"
        Description="FinalUWP">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="UWPProcessLauncher.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="Backup" Parameters="/file &quot;%HomeDrive%%HomePath%\Documents\ARK Software\processName.tpc&quot; /backup /delay 2000"/>
            <desktop:ParameterGroup GroupId="Restore" Parameters="/file &quot;%HomeDrive%%HomePath%\Documents\ARK Software\processName.tpc&quot; /restore /delay 2000"/>
            <desktop:ParameterGroup GroupId="FileAccess" Parameters="/file &quot;%HomeDrive%%HomePath%\Documents\ARK Software\processName.tpc&quot; /log &quot;%HomeDrive%%HomePath%\Documents\ARK Software\exitCode.tpc&quot;"/>
          </desktop:FullTrustProcess>
        </desktop:Extension>

        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="tpc">
            <uap:SupportedFileTypes>
              <uap:FileType>.tpc</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:Logo>Assets\SmallTile.scale-100.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/>
    <rescap:Capability Name="runFullTrust"/>
    <uap:Capability Name="documentsLibrary"/>
  </Capabilities>
</Package>